*.m         linguist-language=mathematica
builtin.rs  linguist-language=mathematica
*.htm       linguist-detectable=false
*.json      linguist-language=mathematica
*.css       linguist-language=mathematica